package ${package}.entity;

import java.util.Date;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${tableComment}
 * <p>
 *
 * @author ${author}
 * @date ${datetime}
 * @version 1.0.0
 */
public class ${className}Entity extends BaseEntity {
	
#foreach ($column in $columns)
	/**
	 * $column.columnComment
 	 */
	private $column.attrType $column.attrNameFirstDown;
#end

#foreach ($column in $columns)

	public void set${column.attrNameFirstUp}($column.attrType $column.attrNameFirstDown) { this.$column.attrNameFirstDown = $column.attrNameFirstDown; }

	public $column.attrType get${column.attrNameFirstUp}() {  return $column.attrNameFirstDown;  }
#end
}
