package ${package}.service;

import ${package}.entity.${className}Entity;


/**
 * ${tableComment}
 * <p>
 * 
 * @author ${author}
 * @date ${datetime}
 * @version 1.0.0
 */
public interface ${className}Service extends BaseService<${pkType}, ${className}Entity>{

}
